section.frame.about.show-animation
  ._container.frame__container
    .frame__wrapper
      .frame__img
        .frame__img__container
          img.show-animation__item(
            data-duration='2000',
            data-animation='fadeInRightBottom',
            src=require('@/assets/img/label-about.svg'),
            alt='about'
          )

      .frame__content
        h2.frame__title.show-animation__item(
          data-duration='800',
          data-animation='fadeInLeft'
        ) From a group of traders to a high-capacity holding
        p.frame__description.show-animation__item(
          data-duration='1200',
          data-animation='fadeInLeft'
        ) Nowadays we are sequentially developing Caspit and its product lines in CIS region. Our robust infrastructure is of an utmost importance in such an endeavor. We deliver the goods via sheer use of our own capabilities, with no intermediaries involved. Thus, we are able to commit to ironclad guarantees from our side, securing the production quality and prompt transportation of the goods.
