-
  const categoriesList = [
    {
      title: 'Trading',
      class: 'trading',
      description: `
        <p>
          The basis of the Caspit group business is trading operations (fertilizers, agrarian and petrochemical products).
        </p>
        <p>
          Our advantage is significant competence in the area of forecasting the demand and price growth in the global product markets.
        </p>
        <p>
          Close cooperation with the global manufacturers gives us an opportunity to achieve optimal results for us and our partners.
        </p>
      `,
      list: [
        'Mainstay Capital LLC. – Central Asia and Middle East countries;',
        'Wakler DOO – the Balkan region; ',
        'Overtech Sp.z.o.o. – countries of the European Union; ',
        'Caspit trade llc. – Ukraine.',
      ],
      image: '@/assets/img/categories/category-1.jpg'
    },
    {
      title: 'Renewable power engineering',
      class: 'renewable',
      description: `
        <p>
          Our team successfully implements projects of solar power station construction on a turnkey basis.
        </p>
        <p>
          We are researching and developing the project of green ammonia production. 
        </p>
      `,
      list: [
        'OngSolar LLC. – our own solar generation; projects implemented on a turnkey basis.'
      ],
      image: '@/assets/img/categories/category-2.jpg'
    },
    {
      title: 'Financing',
      class: 'financing',
      description: `
        <p>
          The partner financing programs always improve the quality of service provision.
        </p>
        <p>
          We created a convenient and quick system of decision making in terms of financing the agrarian, utilities and production sectors.
        </p>
      `,
      list: [
        'EximLeasing – a leasing company that has been successfully providing services for more than 10 years;',
        'Diskorb LLC – involving financing from international institutes, supporting the grant schemes and covering the whole range of works, from audit to receiving funds.',
      ],
      image: '@/assets/img/categories/category-3.jpg'
    },
    {
      title: 'Production',
      class: 'production',
      description: `
        <p>
          Our own production, development of efficient formulas and methods of fertilizer use gives us an opportunity to offer high-quality products at the best prices to our partners.
        </p>
      `,
      list: [
        'Dunger llc – mineral fertilizer production;',
        'Wakler doo – production of liquid phosphatic fertilizers in cooperation with the Elixir Zorka Serbian manufacturer; basic products (liquid complex fertilizers 10:34).'
      ],
      image: '@/assets/img/categories/category-4.jpg'
    },
    //- {
    //-   title: 'Logistics',
    //-   class: 'logistics',
    //-   description: `Cargo Supply enterprise enables our portfolio companies to ship the LPG units to whatever furthest needed destinations. Company disposes gas carriers and tanks to move bulk chemistry units.`,
    //-   list: [
    //-     'list',
    //-   ],
    //-   image: '@/assets/img/categories/category-5.jpg'
    //- },
  ];

.categories__list
  each item, index in categoriesList
    section.show-animation(
      class=`categories ${item.class} ${index % 2 === 0 ? '' : 'reverse'}`
    ) 
      .categories-bg.show-animation__item(
        data-duration='100',
        data-animation='no-animate'
      )
        img(
          src=require(`${item.image}`),
          alt=`${item.title}`,
          draggable='false',
          loading='lazy'
        )

      ._container.categories__container
        .categories__wrapper
          .categories__content
            h2.categories__title.show-animation__item(
              data-duration='800',
              data-animation='fadeInLeft'
            ) #{ item.title }

            .categories__description.show-animation__item(
              data-duration='1200',
              data-animation='fadeInLeft'
            )!= item.description

            p.categories__subtitle.show-animation__item(
              data-duration='1600',
              data-animation='fadeInLeft'
            ) Our projects

            ul.categories__projects__list.show-animation__item(
              data-duration='1600',
              data-animation='fadeInLeft'
            )
              each project in item.list
                li= project
