section.frame.follow.show-animation
  ._container.frame__container
    .frame__wrapper
      .frame__img
        .frame__img__container
          img.show-animation__item(
            data-duration='2000',
            data-animation='fadeInRightBottom',
            src=require('@/assets/img/label-about.svg'),
            alt='follow'
          )

      .frame__content
        h2.frame__title.show-animation__item(
          data-duration='800',
          data-animation='fadeInLeft'
        ) Playing the long game
        p.show-animation__item.frame__description(
          data-duration='1200',
          data-animation='fadeInLeft'
        ) We want to conclude with the following statement: we are up for the long game. Being infinitely and innately curious in the domains we stand, we wish to be beneficial to the market we are in. If your vision coincides, we are happy to lend a hand.
